{% block content %}
<head>
    <link rel="stylesheet" href="../static/login.css"
</head> 
<body>
    <section>
        <form method="POST">
                <div class="form-box">
                    <div class="form-value">
                        <form action="">
                            <h2>Login</h2>
                            <div class="inputbox">
                                <ion-icon name="mail-outline"></ion-icon>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                            </div> 
                            <div class="inputbox">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                            </div>
                            <br><button type="submit" class="btn btn-primary">Login</button>  
                            <br><center><a href="/sign-up">Don't have an account?</a></center>
                        </form>
                    </div>
                </div>
        </form>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
{% endblock %}