{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="../static/sign_up.css"
</head> 
<body>
    <section>
        <form method="POST">
                <div class="form-box">
                    <div class="form-value">
                        <form action="">
                            <h2>Sign Up</h2>
                            <div class="inputbox">
                                <ion-icon name="mail-outline"></ion-icon>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                            </div> 
                            <div class="inputbox">
                                <ion-icon name="people-circle-outline"></ion-icon>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
                            </div>
                            <div class="inputbox">
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
                            </div>
                            <div class="inputbox">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                            </div>
                            <div class="final">
                            <button type="submit" class="btn btn-primary">Sign Up</button>  
                            </div>
                        </form>
                    </div>
                </div>
        </form>
    </section>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
{% endblock %}